### Importaci√≥n de datos

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categor√≠a del Producto,Precio,Costo de env√≠o,Fecha de Compra,Vendedor,Lugar de Compra,Calificaci√≥n,M√©todo de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electr√≥nicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogot√°,4,Tarjeta de cr√©dito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medell√≠n,1,Tarjeta de cr√©dito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de cr√©dito,1,10.39972,-75.51444
3,Microondas,Electrodom√©sticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medell√≠n,5,Nequi,1,6.25184,-75.56359



```
# Tiene formato de c√≥digo
```

#1. An√°lisis de facturaci√≥n

In [ ]:
# Facturaci√≥n por tienda
facturacion1 = tienda['Precio'].sum()
facturacion2 = tienda2['Precio'].sum()
facturacion3 = tienda3['Precio'].sum()
facturacion4 = tienda4['Precio'].sum()

# Mostrar resultados
print("üí∞ Facturaci√≥n total por tienda:")
print(f"Tienda 1: ${facturacion1:,.2f}")
print(f"Tienda 2: ${facturacion2:,.2f}")
print(f"Tienda 3: ${facturacion3:,.2f}")
print(f"Tienda 4: ${facturacion4:,.2f}")

üí∞ Facturaci√≥n total por tienda:
Tienda 1: $1,150,880,400.00
Tienda 2: $1,116,343,500.00
Tienda 3: $1,098,019,600.00
Tienda 4: $1,038,375,700.00

In [ ]:
# Aseg√∫rate de que la columna de fecha est√© en formato datetime
tienda['Fecha de Compra'] = pd.to_datetime(tienda['Fecha de Compra'], dayfirst=True)

# Extraer el nombre del mes (en espa√±ol si tu entorno lo permite)
tienda['Mes'] = tienda['Fecha de Compra'].dt.month_name()

# Agrupar por nombre del mes y sumar la facturaci√≥n
facturacion_mensual = tienda.groupby('Mes')['Precio'].sum().sort_values(ascending=False)

# Mostrar resultados
print("üìÖ Facturaci√≥n mensual por nombre de mes:")
print(facturacion_mensual)

üìÖ Facturaci√≥n mensual por nombre de mes:
Mes
February     137699300.0
March        123380500.0
January      113801700.0
September    111925900.0
July          99214900.0
August        93792800.0
May           91482800.0
December      85754300.0
June          82091300.0
April         78687800.0
November      69696800.0
October       63352300.0
Name: Precio, dtype: float64

# 2. Ventas por categor√≠a

In [ ]:
# Agrupar por categor√≠a de producto y sumar los precios
facturacion_por_categoria = tienda.groupby('Categor√≠a del Producto')['Precio'].sum().sort_values(ascending=False)

# Mostrar resultados
print("üì¶ Facturaci√≥n por categor√≠a de producto:")
print(facturacion_por_categoria)

üì¶ Facturaci√≥n por categor√≠a de producto:
Categor√≠a del Producto
Electr√≥nicos               429493500.0
Electrodom√©sticos          363685200.0
Muebles                    187633700.0
Instrumentos musicales      91299000.0
Deportes y diversi√≥n        39290000.0
Juguetes                    17995700.0
Art√≠culos para el hogar     12698400.0
Libros                       8784900.0
Name: Precio, dtype: float64

# 3. Calificaci√≥n promedio de la tienda

1.   Elemento de lista
2.   Elemento de lista

In [ ]:
# Calcular la calificaci√≥n promedio de cada tienda
calificacion1 = tienda['Calificaci√≥n'].mean()
calificacion2 = tienda2['Calificaci√≥n'].mean()
calificacion3 = tienda3['Calificaci√≥n'].mean()
calificacion4 = tienda4['Calificaci√≥n'].mean()

# Mostrar resultados
print("‚≠ê Calificaci√≥n promedio por tienda:")
print(f"Tienda 1: {calificacion1:.2f}")
print(f"Tienda 2: {calificacion2:.2f}")
print(f"Tienda 3: {calificacion3:.2f}")
print(f"Tienda 4: {calificacion4:.2f}")

‚≠ê Calificaci√≥n promedio por tienda:
Tienda 1: 3.98
Tienda 2: 4.04
Tienda 3: 4.05
Tienda 4: 4.00

### #3 - Productos m√°s y menos vendidos

In [ ]:
# Contar cu√°ntas veces se vendi√≥ cada producto
ventas_por_producto1 = tienda['Producto'].value_counts()
ventas_por_producto2 = tienda2['Producto'].value_counts()
ventas_por_producto3 = tienda3['Producto'].value_counts()
ventas_por_producto4 = tienda4['Producto'].value_counts()

# Mostrar los m√°s vendidos
print("üìà Productos m√°s vendidos por tienda:")
print("Tienda 1:", ventas_por_producto1.head(3))
print("Tienda 2:", ventas_por_producto2.head(3))
print("Tienda 3:", ventas_por_producto3.head(3))
print("Tienda 4:", ventas_por_producto4.head(3))

# Mostrar los menos vendidos
print("\nüìâ Productos menos vendidos por tienda:")
print("Tienda 1:", ventas_por_producto1.tail(3))
print("Tienda 2:", ventas_por_producto2.tail(3))
print("Tienda 3:", ventas_por_producto3.tail(3))
print("Tienda 4:", ventas_por_producto4.tail(3))

üìà Productos m√°s vendidos por tienda:
Tienda 1: Producto
Microondas       60
TV LED UHD 4K    60
Armario          60
Name: count, dtype: int64
Tienda 2: Producto
Iniciando en programaci√≥n    65
Microondas                   62
Bater√≠a                      61
Name: count, dtype: int64
Tienda 3: Producto
Kit de bancas      57
Mesa de comedor    56
Cama king          56
Name: count, dtype: int64
Tienda 4: Producto
Cama box                   62
Cuberter√≠a                 59
Dashboards con Power BI    56
Name: count, dtype: int64

üìâ Productos menos vendidos por tienda:
Tienda 1: Producto
Olla de presi√≥n              35
Auriculares con micr√≥fono    33
Celular ABXY                 33
Name: count, dtype: int64
Tienda 2: Producto
Mesa de comedor    34
Impresora          34
Juego de mesa      32
Name: count, dtype: int64
Tienda 3: Producto
Mochila                    36
Microondas                 36
Bloques de construcci√≥n    35
Name: count, dtype: int64
Tienda 4: Producto
Guitarra ac√∫stica     37
Armario               34
Guitarra el√©ctrica    33
Name: count, dtype: int64

# 5. Env√≠o promedio por tienda

In [ ]:
# Calcular el env√≠o promedio por tienda
envio1 = tienda['Costo de env√≠o'].mean()
envio2 = tienda2['Costo de env√≠o'].mean()
envio3 = tienda3['Costo de env√≠o'].mean()
envio4 = tienda4['Costo de env√≠o'].mean()

# Mostrar resultados
print("üöö Env√≠o promedio por tienda:")
print(f"Tienda 1: ${envio1:.2f}")
print(f"Tienda 2: ${envio2:.2f}")
print(f"Tienda 3: ${envio3:.2f}")
print(f"Tienda 4: ${envio4:.2f}")

üöö Env√≠o promedio por tienda:
Tienda 1: $26018.61
Tienda 2: $25216.24
Tienda 3: $24805.68
Tienda 4: $23459.46

# 6. Facturaci√≥n por m√©todo de pago

In [3]:
# Load the data if it's not already loaded
try:
    tienda.head()
except NameError:
    import pandas as pd
    url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
    tienda = pd.read_csv(url)


# Agrupar por m√©todo de pago y sumar la facturaci√≥n
facturacion_por_pago = tienda.groupby('M√©todo de pago')['Precio'].sum().sort_values(ascending=False)

# Mostrar resultados
print("üí≥ Facturaci√≥n por m√©todo de pago:")
print(facturacion_por_pago)

üí≥ Facturaci√≥n por m√©todo de pago:
M√©todo de pago
Tarjeta de cr√©dito    840665800.0
Nequi                 232609700.0
Cup√≥n                  64105500.0
Tarjeta de d√©bito      13499400.0
Name: Precio, dtype: float64

#7: Facturaci√≥n por vendedor

In [4]:
# Agrupar por vendedor y sumar la facturaci√≥n
facturacion_por_vendedor = tienda.groupby('Vendedor')['Precio'].sum().sort_values(ascending=False)

# Mostrar resultados
print("üßç‚Äç‚ôÇÔ∏è Facturaci√≥n por vendedor:")
print(facturacion_por_vendedor)

üßç‚Äç‚ôÇÔ∏è Facturaci√≥n por vendedor:
Vendedor
Maria Alfonso      101528700.0
Rafael Acosta       96271300.0
Izabela de Le√≥n     93776500.0
Felipe Santos       90206900.0
Juliana Costa       85678500.0
Lucas Olivera       84882800.0
Pedro Gomez         82973900.0
Beatriz Morales     79347300.0
Juan Fernandez      78040000.0
Camila Rivera       75847900.0
Blanca Ramirez      74766300.0
Mariana Herrera     71352200.0
Santiago Silva      70093900.0
√Ångel Rodriguez     66114200.0
Name: Precio, dtype: float64

#8: Facturaci√≥n por ciudad o lugar de compra

In [5]:
# Agrupar por lugar de compra y sumar la facturaci√≥n
facturacion_por_ciudad = tienda.groupby('Lugar de Compra')['Precio'].sum().sort_values(ascending=False)

# Mostrar resultados
print("üó∫Ô∏è Facturaci√≥n por ciudad:")
print(facturacion_por_ciudad)

üó∫Ô∏è Facturaci√≥n por ciudad:
Lugar de Compra
Bogot√°           440005000.0
Medell√≠n         296858100.0
Cali             154493700.0
Pereira           56214300.0
C√∫cuta            37879500.0
Barranquilla      32907700.0
Cartagena         22296700.0
Riohacha          18512700.0
Bucaramanga       17579200.0
Pasto             14996400.0
Leticia           14669800.0
Santa Marta       13198300.0
Manizales          8027600.0
Villavicencio      7161900.0
Armenia            4615700.0
Soacha             4126000.0
Neiva              3494000.0
In√≠rida            2722500.0
Valledupar         1121300.0
Name: Precio, dtype: float64